@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');

body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  background: #B9B7A5;
}

main {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
nav {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 4em;
  height: 3em;
  font-size: 1.6rem;
  font-weight: bold;
  text-align: center;
  letter-spacing: .1em;
  background-color: #2e2e2e;
  color: white;
  width: 100%;
}
.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 2rem;
  text-align: center;
  height: 5em;
  background-color: #2e2e2e;
  color: white;
}

a {
  color: #ff8e8e;
}
a:hover {
  color: #da7878;
}

.pokemons-container {
  margin-right: 0;
  display: grid;
  width: 80%;
  row-gap: 1em;
  grid-template-columns: repeat(auto-fit, minmax(440px, 1fr));
  gap: 2em;
}
.pokemon-card {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  background-color: #a5a28d; 
  border-radius: .5em;
  width: 240px; 
  height: 255px;
  box-shadow: 0 .125rem .25rem rgba(0, 0, 0, 0.125);
  justify-self: center;
}
.types-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
}
.tag {
  background-color: #5B5A5A;
  color: white;
  border-radius: .3em;
  text-align: center;
  font-size: 1.2rem;
  padding: .1em .1em;
  width: 4em;
  text-transform: capitalize;
  font-weight: 100;
}
.pokemon-number-container {
  display: flex;
  justify-content: left;
  margin-left: 2em;
  margin-bottom: 1em;
  width: 100%;
}
.pokemon-name {
  width: 7em;
  font-size: 1.1rem;
  padding: .2em .1em;
  margin-bottom: .5em;
}
.pokemon-type {
  width: 5em;
}
.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
button {
  margin: 3.5em 0;
  padding: .7em 2.5em;
  background-color: #6b63c3;
  border: none;
  border-radius: .3em;
  color: white;
  text-transform: uppercase;
  font-size: 1.1rem;
  font-weight: bold;
  cursor: pointer;
}
button:hover {
  background-color: #484195e7;
}

@media (max-width: 2300px) {
  .pokemons-container {
    grid-template-columns: repeat(auto-fit, minmax(370px, 1fr));
  }
}
@media (max-width: 1980px) {
  .pokemons-container {
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  }
}
@media (max-width: 1740px) {
  .pokemons-container {
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  }
}
@media (max-width: 1550px) {
  .pokemons-container {
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    width: 85%;
  }
}
@media (max-width: 1275px) {
  .pokemons-container {
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    width: 100%;
  }
}
@media (max-width: 800px) {
  .pokemons-container {
    grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
    width: 80%;
  }

  .footer {
    font-size: 1.4rem;
  }
}
@media (max-width: 640px) {
  .pokemons-container {
    grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
    width: 95%;
  }
}
