@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');

body {
  font-family: 'Roboto', sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  background: #B9B7A5;
}
h1 {
  font-size: 3rem;
  font-weight: bold;
  margin-top: 1em;
  margin-bottom: 3em;
  text-align: center;
  letter-spacing: .1em;
}
.pokemons-container {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 5em;
}
.pokemon-card {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  background-color: #a5a28d; 
  border-radius: .5em;
  width: 240px; 
  height: 255px;
  box-shadow: 0 .125rem .25rem rgba(0, 0, 0, 0.125);
}
.types-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  /* margin-top: .5em; */
  width: 100%;
}
.tag {
  background-color: #5B5A5A;
  color: white;
  border-radius: .3em;
  text-align: center;
  font-size: 1.2rem;
  padding: .1em .1em;
  width: 4em;
  text-transform: capitalize;
  font-weight: 100;
}
.pokemon-number-container {
  display: flex;
  justify-content: left;
  margin-left: 2em;
  margin-bottom: 1em;
  width: 100%;
}
.pokemon-name {
  width: 7em;
  font-size: 1.1rem;
  padding: .2em .1em;
  margin-bottom: .5em;
}
.pokemon-type {
  width: 5em;
}
.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
button {
  margin: 3em 0;
  padding: .7em 2.5em;
  background-color: #6b63c3;
  border: none;
  border-radius: .3em;
  color: white;
  text-transform: uppercase;
  font-size: 1.1rem;
  font-weight: bold;
  cursor: pointer;
}
button:hover {
  background-color: #484195e7;
}